* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    width: 80%;
    height: auto;
    margin: 0 10%;

}

.banner {
    background-image: url(../src/pp.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 5px;
}

.banner h1 {
    color: #fff;
    padding: 5em 1em;
    background-color: #000;
    opacity: 0.5;
    border-radius: 5px;
}

main {
    width: 100%;
    height: auto;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

.container {
    margin: 2% 10%;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.bio {
    width: auto;
}

.bio .side1 {
    width: 45%;
    height: auto;
    display: inline-block;
    background-image: url(../src/pp2.png);
    background-position: center;
    background-size: cover;
}

.bio .side1 h2 {
    text-align: right;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    padding: 1em;
    margin: 50% 0 0 0;

}

.bio .side2 {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0 0 0 5%;
}

.bio .side2 h3 {
    color: #000;
    font-size: 20px;
}

.bio .side2 h4 {
    color: gray;
    font-size: 20px;
    font-weight: 500;
}


.bio .side2 p {
    font-size: 18px;
    font-weight: 400;
}

.bio .side2 i {
    padding: 0 1em 0 0;
}

.bio .side2 .btn {
    margin-top: 10%;
}

.bio .side2 .btn a {
    text-decoration: none;
    color: #fff;
    font-size: medium;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 5px;
}

.bio .side2 .btn .cv {
    background-color: #0080ff;
}

.bio .side2 .btn .wa {
    background-color: #33cc33;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

.service {
    padding: 1em 0 0 0;
    width: auto;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    background-image: url(../src/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service .ava {
    width: auto;
    margin: 0 0 0 10%;
    text-align: center;
    display: inline-block;
}

.service .ava i {
    font-size: 50px;
    color: #fff;
}

.service .title {
    color: #fff;
    font-weight: 700;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

.skills {
    background-color: #fff;
    /* background-image: url(../src/banner9.jpg); */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 1em;
    border-radius: 5px;
}

.skills i {
    font-size: 25px;
    color: #0080ff;
}

.skills i span {
    padding: 0 1em;
    font-size: 25px;
    font-weight: 750;
    color: #3c3c3c;
}

.skills h4 {
    font-size: small;
    color: #616161;
}

.skill {
    width: 100%;
    background-color: #ddd;
    font-size: small;
    text-align: right;
    color: white;
    border-radius: 5px;
}

.vsc {
    width: 65%;
    background-color: #0066ff;
}

.html {
    width: 60%;
    background-color: #ff6600;
}



.css {
    width: 55%;
    background-color: #0080ff;
}

.bs {
    width: 50%;
    background-color: #cc00ff;
}

.php {
    width: 45%;
    background-color: #0080ff;
}

.sql {
    width: 40%;
    background-color: #0066ff;
}

.js {
    width: 35%;
    background-color: #f0db4f;
}

.jv {
    width: 30%;
    background-color: #ff6600;
}

.kotlin {
    width: 25%;
    background-color: #ff6600;
}

.dart {
    width: 20%;
    background-color: #0066ff;
}

.c {
    width: 15%;
    background-color: #0080ff;
}

.py {
    width: 10%;
    background-color: #cc00ff;
}

@media screen and (max-width: 600px) {

    .banner h1 {
        padding: 2em 0;
    }

    .bio .side1 {
        width: 100%;
    }

    .bio .side1 h2 {
        font-size: small;
        padding: 1em;
    }

    .bio .side2 h4 {
        font-size: small;
    }

    .bio .side2 p {
        font-size: medium;
    }

    .bio .side2 .btn {
        margin-top: -5%;
    }

    .bio .side2 .btn a {
        font-size: 10px;
    }

    .service {
        padding: 1em;
    }

    .service .ava {
        width: auto;
        margin: 0 0 0 5%;
        text-align: center;
        display: inline-block;
    }

    .service .ava i {
        font-size: larger;
    }

    .skills {
        padding: 0.5em;
    }

}
